@charset "UTF-8";

@font-face {
	font-family: 'pt_sans';
	src: url('assets/fonts/pt_sans/pt_sans_regular-webfont.woff2') format('woff2'),
		url('assets/fonts/pt_sans/pt_sans_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('assets/fonts/helvetica/Helvetica.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helvetica';
	src: url('assets/fonts/helvetica/Helvetica-Bold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'helvetica';
	src: url('assets/fonts/helvetica/Helvetica-BoldOblique.ttf') format('ttf');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'helvetica';
	src: url('assets/fonts/helvetica/Helvetica-light.ttf') format('ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'pt_sans';
	src: url('assets/fonts/pt_sans/pt_sans_bold-webfont.woff2') format('woff2'),
		url('assets/fonts/pt_sans/pt_sans_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'proza_libre';
	src: url('assets/fonts/proza_libre/prozalibre-regular-webfont.woff2') format('woff2'),
		url('assets/fonts/proza_libre/prozalibre-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proza_libre';
	src: url('assets/fonts/proza_libre/prozalibre-medium-webfont.woff2') format('woff2'),
		url('assets/fonts/proza_libre/prozalibre-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'proza_libre';
	src: url('assets/fonts/proza_libre/prozalibre-semibold-webfont.woff2') format('woff2'),
		url('assets/fonts/proza_libre/prozalibre-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'proza_libre';
	src: url('assets/fonts/proza_libre/prozalibre-bold-webfont.woff2') format('woff2'),
		url('assets/fonts/proza_libre/prozalibre-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
