//__<<ngThemingMigrationEscapedComment0>>__
//$main-theme-color: #00003b;
//#big_container {
//	&.theme-high-contrast {
//		background: #465f66;
//		color: $main-theme-color;
//
//		h1::after {
//			background-color: $main-theme-color;
//		}
//
//		.btn--primary:focus,
//		.btn--primary:hover,
//		.btn--primary:active,
//		.btn--primary {
//			background-color: $main-theme-color !important;
//		}
//	}
//}
