// Define the palettes for your theme using the Material Design palettes available in palette.scss
@use '@angular/material' as mat;
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-contrast-primary: mat.define-palette(mat.$indigo-palette);
$theme-contrast-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$theme-contrast-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$theme-contrast: mat.define-light-theme(
	(
		color: (
			primary: $theme-contrast-primary,
			accent: $theme-contrast-accent,
			warn: $theme-contrast-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($theme-contrast);
